services:
  opensearch:
    image: opensearchproject/opensearch:3.4.0@sha256:c27e2f52eed924f7b7a98970618debb0f4bea0217b5dbee36f966d27727e18c0
    container_name: opensearch
    network_mode: host
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=passRT%^#234
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 30

  jaeger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:latest
    container_name: jaeger
    network_mode: host
    volumes:
      - "./jaeger-ui.json:/etc/jaeger/jaeger-ui.json"
      - "./config-spm-opensearch.yaml:/etc/jaeger/config.yml"
    command: ["--config", "/etc/jaeger/config.yml"]
    restart: unless-stopped
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
      - "5778:5778"
      - "9411:9411"
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
      SPAN_STORAGE: "elasticsearch"
      ES_SERVER_URLS: http://localhost:9200
      ES_VERSION: "7"
      ES_TLS_ENABLED: "false"
      ES_USERNAME: master
      ES_PASSWORD: passRT%^#234
    depends_on:
      opensearch:
        condition: service_healthy

networks:
  backend:
    driver: bridge

volumes:
  esdata:
    driver: local
